.App {
    font-family: 'DynaPuff', cursive;
    font-family: 'Mulish', sans-serif;
    width: 100vw;
    height: 100vh;
    /* color: black; */
    overflow-x: hidden;

    /* box-sizing: border-box; */
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: #FFFFFF !important;
    position:fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.sidebar-list .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
    transition: all 0.2s ease;
    color: #767676;
    font-weight: 500;
    font-family: 'Montserrat' !important;
}

.sidebar-list #title:hover {
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: black;
}
 .active{
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: black !important;
}

.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    /* font-size: 28px;  */
    padding: 0px 10px;
  }